:root {
        --link-hover: #d8863f;
}

header a:hover:not([title="Home (Alt + H)"]),
.post-content a:hover {
        color: var(--link-hover);
}

span.active {
    color: var(--link-hover);
}

blockquote {
    background-color: #f0f0f0;
}

body.dark blockquote {
    background-color: #212121;
}

blockquote p {
    padding: 15px 0;
}
