<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ - DST</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/atom-one-dark.css" />
        <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/js/default.js" defer></script>
        <script type="text/javascript" src="/js/theme.js" defer></script>
        <script type="text/javascript" src="/js/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </head>
    <body>
        <p class="fs-2" id="goto-top"><i class="bi bi-arrow-up-circle"></i></p>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container d-flex justify-content-between">
                  <div>
                    <a class="navbar-brand" href="/">DST</a>
                  </div>
                  <div class="d-flex justify-content-end align-items-center gap-3">
                    <div class="nav-item d-block d-lg-none">
                        <span class="nav-link"><i class="bi bi-search"></i></span>
                    </div>
                    <div class="nav-item d-block d-lg-none">
                        <span class="nav-link toggleTheme"><i class="bi bi-sun"></i></span>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about.html">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/archive.html">Posts</a>
                    </li>
                    <div class="nav-item d-none d-lg-block">
                        <span class="nav-link"><i class="bi bi-search"></i></span>
                    </div>
                    <div class="nav-item d-none d-lg-block">
                        <span class="nav-link toggleTheme"><i class="bi bi-sun"></i></span>
                    </div>
                  </ul>
                </div>
              </div>
            </nav>
        </header>

        <main role="main" class="container my-5">
            <div class="row d-flex justify-content-center">
                <div class="col col-md-8">
                    <h1>$title$</h1>
                    $body$
                </div>
            </div>
        </main>

        <footer class="container text-center border-top my-3 py-4 text-muted">
            <small>
                &copy; Copyright <span id="year"></span> - 
                Site proudly generated by
                <a href="http://jaspervdj.be/hakyll" class="text-secondary" target=_blank>Hakyll</a>
            </small>
        </footer>
    </body>
</html>
